<h3 class="mb-3">Adatrögzítés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
    <!-- alertmessages shows here -->
</div>

<div class="form-floating mb-3">
    <input type="date" class="form-control" id="date" placeholder="" max="">
    <label for="date">Dátum</label>
</div>

<div class="form-floating mb-3">
    <input type="number" class="form-control" id="steps" placeholder="" min="0" value="0">
    <label for="steps">Lépésszám</label>
</div>

<button class="btn btn-primary mb-3" onclick="addSteps()">Rögzítés</button>