<h3 class="mb-3">Regisztráció</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
    <!-- alertmessages shows here -->
</div>

  
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" placeholder="">
    <label for="name">Felhasználónév</label>
</div>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="">
    <label for="email">E-mail cím</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="passwd" placeholder="">
    <label for="passwd">Jelszó</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirm" placeholder="">
    <label for="confirm">Jelszó megerősítése</label>
</div>

<button class="btn btn-primary mb-3" onclick="registerUser()">Regisztráció</button>

